{
  "http": {
    "port": 8080,
    "host": "0.0.0.0",
    "ssl": {
      "enabled": false
    }
  },
  "pocket": {
    "host": "http://localhost:8080",
    "consumer_key": "",
    "access_token": ""
  },
  "mail":{
	  "inbox": "Inbox",
	  "processsed": "Deleted Messages",
	  "imap_host": "imap.qq.com",
	  "imap_user": "",
	  "imap_pass": "",
	  "idle_interval": 60,
	  "idle_max_time": 3600,
	  "error_interval": 900
  }
  
}